<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kiosk Query & View</title>
        <!--suppress HtmlUnknownTarget -->
        <link rel="stylesheet" href="<%- VITE_KIOSK_BASE_URL %>static/styles.css" />
<!--        <link rel="stylesheet" href="<%- VITE_KIOSK_BASE_URL %>static/purecss/shoelace/light.css" />-->
<!--        <link rel="stylesheet" href="<%- VITE_KIOSK_BASE_URL %>static/kioskshoelacetheme.css" />-->


        <style>
            header {
                background: lightgrey;
                padding: 0.5em;
                margin-bottom: 2em;
            }
            body {
                height: 100vh
            }
        </style>
    </head>
    <body>
    <test-app id="kiosk-app" showprogress="true"></test-app>
    </body>
    <script type="module" src="/src/app.ts"></script>
<!--    <script type="module" src="kioskdevstarter.ts"></script>-->
<!--    <script>-->
<!--        // ui = document.querySelector("#kiosk-app")-->
<!--        // ui.addEventListener("select-image", (event) => {-->
<!--        //     console.log(`Selecting image ${event.detail}`)-->
<!--        // })-->
<!--        let bd = document.getElementsByTagName("body")[0]-->
<!--        bd.addEventListener("keyup", (e) => {-->
<!--            console.log(e)-->
<!--        })-->
<!--    </script>-->
<!--    &lt;!&ndash;suppress JSUnresolvedLibraryURL &ndash;&gt;-->
<!--    <script src="http://localhost:5000/static/scripts/kiosklastscript.js"></script>-->
</html>
